<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Price Prediction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
      <style>
          img { width: 100%; height : 60%}
      </style>
    <img src="NYCSkyline.png" alt="NYC Skyline" >
    <div class="jumbotron text-center">
      <h1>NYC Property Price Prediction</h1>

</div>
</div>
    <!-- {% if info%}  -->
    <!-- <div class='row'>
        <div class="col-md-8">
            <h1>Your Inputs:</h1>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-2">
            <h3>Neighborhood: {{info.dic["SQFT"]}}</h3>
        </div>
        <div class="col-md-2">
            <h3> Building Type: {{info.buildingType}}</h3>
        </div>
        <div class="col-md-2">
            <h3>Zip: {{info.zipCode}}</h3>
        </div>
        <div class="col-md-2">
            <h3>Number of Units: {{info.Units}}</h3>
        </div>
        <div class="col-md-2">
            <h3>SQFT: {{info.sqft}}</h3>
        </div>
        <div class="col-md-2">
            <h3>Year Built: {{info.year}}</h3>
        </div>

    </div> -->
   
    <div class='row'>
        <div class="col-md-2">
        <h1>Price Prediction: {info}</h1>
        </div>
    </div>
</body>
</html>